<h2 mat-dialog-title>Forgot Password</h2>

<mat-dialog-content>
  <p>Enter your email address to reset your password.</p>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onResetPassword()">
    <label>Email</label>
    <div class="input-wrapper">
      <input matInput type="email" formControlName="email" placeholder="Enter your email" />
      <mat-icon matSuffix>email</mat-icon>
    </div>
    @if (
      forgotPasswordForm.controls.email.hasError('required') &&
      (submitted || forgotPasswordForm.controls.email.touched)
    ) {
      <span class="error">Email is required</span>
    }
    @if (
      forgotPasswordForm.controls.email.hasError('email') &&
      (submitted || forgotPasswordForm.controls.email.touched)
    ) {
      <span class="error">Please enter a valid email</span>
    }

    <label>Password</label>
    <div class="input-wrapper">
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Enter your password"
      />
      <mat-icon matSuffix>lock</mat-icon>
    </div>
    @if (
      forgotPasswordForm.controls.password.hasError('required') &&
      (submitted || forgotPasswordForm.controls.password.touched)
    ) {
      <span class="error">Password is required</span>
    }

    <label>Confirm Password</label>
    <div class="input-wrapper">
      <input
        matInput
        type="password"
        formControlName="confirmPassword"
        placeholder="Confirm your password"
      />
      <mat-icon matSuffix>restore</mat-icon>
    </div>

    @if (
      forgotPasswordForm.controls.confirmPassword.hasError('required') &&
      (submitted || forgotPasswordForm.controls.confirmPassword.touched)
    ) {
      <span class="error">Confirm Password is required</span>
    }

    @if (forgotPasswordForm.hasError('passwordMismatch')) {
      <span class="error">Passwords do not match</span>
    }

    <!-- <button mat-raised-button color="primary" type="submit">Reset Password</button> -->
    <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" type="submit">Reset Password</button>
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
