<h2 mat-dialog-title>Forgot Password</h2>

<mat-dialog-content>
  <p>Enter your email address to reset your password.</p>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onResetPassword()">

    <!-- Email -->
    <label>Email</label>
    <div class="input-wrapper">
      <input type="email" formControlName="email" placeholder="Enter your email" />
      <mat-icon class="input-icon">email</mat-icon>
    </div>
    @if (
    forgotPasswordForm.controls.email.hasError('required') &&
    (submitted || forgotPasswordForm.controls.email.touched)
    ) {
    <span class="error">Email is required</span>
    }
    @if (
    forgotPasswordForm.controls.email.hasError('email') &&
    (submitted || forgotPasswordForm.controls.email.touched)
    ) {
    <span class="error">Please enter a valid email</span>
    }

    <!-- old password -->
    <!-- <label>Old Password</label>
    <div class="input-wrapper">
      <input [type]="hideOldPassword ? 'password' : 'text'" formControlName="oldPassword"
        placeholder="Enter your old password">
      <button mat-icon-button type="button" class="password-toggle" (click)="hideOldPassword = !hideOldPassword">
        <mat-icon>
          {{ hideOldPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </button>
    </div>
    @if(forgotPasswordForm.controls.oldPassword.hasError('required') &&
    forgotPasswordForm.controls.oldPassword.touched){
    <span class="error">Old Password is required</span>
    } -->

    <!--  new password -->
    <label>New Password</label>
    <div class="input-wrapper">
      <input [type]="hideNewPassword ? 'password' : 'text'" formControlName="password"
        placeholder="Enter your new password" />
      <button mat-icon-button type="button" class="password-toggle" (click)="hideNewPassword = !hideNewPassword">
        <mat-icon>
          {{ hideNewPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </button>
    </div>
    @if (
    forgotPasswordForm.controls.password.hasError('required') &&
    (submitted || forgotPasswordForm.controls.password.touched)
    ) {
    <span class="error">New Password is required</span>
    }
    @if (
    forgotPasswordForm.controls.password.hasError('minlength') &&
    (submitted || forgotPasswordForm.controls.password.touched)
    ) {
    <span class="error"> Password must contain at least 6 characters</span>
    }

    @if (
    forgotPasswordForm.controls.password.hasError('pattern') &&
    (submitted || forgotPasswordForm.controls.password.touched)
    ) {
    <span class="error">Use uppercase, lowercase, number and special character</span>
    }

    <!-- Confirm password -->
    <label>Confirm Password</label>
    <div class="input-wrapper">
      <input [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword"
        placeholder="Confirm your password" />
      <button mat-icon-button type="button" class="password-toggle"
        (click)="hideConfirmPassword = !hideConfirmPassword">
        <mat-icon>
          {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </button>

    </div>

    @if (
    forgotPasswordForm.controls.confirmPassword.hasError('required') &&
    (submitted || forgotPasswordForm.controls.confirmPassword.touched)
    ) {
    <span class="error">Confirm Password is required</span>
    }

    @if (forgotPasswordForm.hasError('passwordMismatch')) {
    <span class="error">Passwords do not match</span>
    }

    <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" type="submit">Reset Password</button>
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>