<div class="compose-container">

    <!-- Header -->
    <div class="compose-header">
        <span>
            {{ data.mode === 'reply' ? 'Reply' : data.mode === 'forward' ? 'Forward' : 'New Message' }}
        </span>

        <div class="compose-header-actions">
            <button mat-icon-button type="button" [matTooltip]="isMinimized? 'Restore' : 'Minimize'"
                (click)="toggleMinimize()">
                <mat-icon>{{isMinimized? 'expand_less': 'remove'}}</mat-icon>
            </button>

            <button mat-icon-button type="button" matTooltip="Close" (click)="closeDialog()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

    <!-- Form -->
    @if(!isMinimized){
    <form [formGroup]="composeForm">

        <!-- From -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>From</mat-label>
            <input matInput [value]="data.from" readonly>
        </mat-form-field>

        <!-- To -->
        <div class="recipient-field">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>To</mat-label>
                <input matInput formControlName="to" placeholder="Recipients email" [readonly]="data.mode === 'reply'"
                    (input)="onToInput($event)" autocomplete="off">

                @if(showSuggestions && filteredUsers.length > 0) {
                <div class="recipient-suggestions">
                    @for (user of filteredUsers; track user.email) {
                    <div class="recipient-suggestion" (mousedown)="selectRecipient(user)">
                        <div class="recipient-name">
                            {{ user.fname }} {{ user.lname }}
                        </div>

                        <div class="recipient-smail">
                            {{ user.email }}
                        </div>
                    </div>
                    }
                </div>
                }

                @if(composeForm.controls['to'].hasError('required') && composeForm.controls['to'].touched) {
                <mat-error>Recipient email is required</mat-error>
                }
                @if(composeForm.controls['to'].hasError('invalidEmail') && composeForm.controls['to'].touched) {
                <mat-error>Invalid email address</mat-error>
                }
            </mat-form-field>
        </div>

        <!-- subject -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Subject</mat-label>
            <input matInput formControlName="subject" placeholder="Subject" [readonly]="data.mode === 'reply'">

            @if(composeForm.controls['subject'].hasError('required') && composeForm.controls['subject'].touched){
            <mat-error>Subject is required</mat-error>
            }
        </mat-form-field>

        <!-- Message -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="body" rows="4" placeholder="Write your message..."></textarea>
            @if (composeForm.controls['body'].hasError('required') && composeForm.controls['body'].touched) {
            <mat-error>Message is required</mat-error>
            }

            <!-- Attachment -->
            @if(attachments.length > 0){
            <div class="attachments">
                @for(attachment of attachments; track $index){
                <div class="attachment">
                    <mat-icon>attach_file</mat-icon>
                    <span>{{attachment.name}}</span>

                    <button mat-icon-button type="button" matTooltip="Remove" (click)="removeAttachment($index)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                }
            </div>
            }
        </mat-form-field>

        <!-- Footer -->
        <div class="compose-footer">
            <button matButton="filled" (click)="sendMail()">Send</button>

            <div class="compose-footer-right">

                <input #fileInput type="file" hidden multiple (change)="onFileSelected($event)">
                <button mat-icon-button type="button" matTooltip="Files" (click)="fileInput.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
            </div>

        </div>

    </form>
    }

</div>